

[aria-label=Forms] {
  display: flex;
  flex-wrap: wrap;

}
.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #282c34;
}
.form-wrapper {
  background-color: #f8f8f8;
  color: black;
  max-width: 50%;
  min-width: 26rem;
  margin: 0 auto;
  font-size: 1.25rem;
  padding: 2rem;
  margin: 0.25rem;
}

.form-wrapper fieldset {
  padding: 2rem;
}

.form-field-wrapper {
  margin-bottom: 1.25rem;
}

.form-wrapper input[type=text] {
  font-size: 1.5rem;
  height: 2.75rem;
  max-width: 100%;
}

legend {
  background-color: #4a4a4a;
  color: white;
  padding: 0.5rem 1.25rem;
  position: relative;
  margin: -1.25rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.button {
  background-color: #4a4a4a;
  color: white;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}