

[aria-label=Forms] {
  display: flex;
  flex-wrap: wrap;

}
.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #282c34;
}
.form-wrapper {
  box-sizing: border-box;
  background-color: #f8f8f8;
  color: black;
  max-width: 50%;
  min-width: 26rem;
  margin: 0 auto;
  font-size: 1.25rem;
  padding: 2rem;
  margin: 0.25rem;
}

.form-wrapper fieldset {
  padding: 2rem 1rem;
}

.form-field-wrapper {
  padding: 0.5rem 1rem 1.25rem 0.75rem;
}

.form-field-wrapper .field-status {
  display: none;
}
.form-field-wrapper.problem .field-status {
  display: inherit;
}
.form-field-wrapper.problem {
  border: 1px solid #ff3387;
  
  background-color: rgba(255,145,145,0.5);
}

.form-field-wrapper.problem .field-status {
  color:  #ff3387;
}


.form-wrapper input[type=text] {
  font-size: 1.5rem;
  height: 2.75rem;
  max-width: 100%;
  width: 100%;
}

legend {
  background-color: #4a4a4a;
  color: white;
  padding: 0.5rem 1.25rem;
  position: relative;
  margin: -0.25rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.button {
  background-color: #4a4a4a;
  color: white;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.debug {
  font-size: 11px;
  border-radius: 0.5rem;
  font-weight: 500;
  padding: .5rem;
  background: #555;
  color: #fff;
  letter-spacing: 1px;
}

.loading {
  fill: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-status {
  padding-left: 1rem;
}